<%- include('partials/_header.ejs') %>
	<%- include('partials/_navigator.ejs') %>

		<% if (isUserSignedIn && user.role==='student' ) { %>

			<div class="all-title-box">
				<div class="container text-center">
					<h1>
						<%= user.name %><span class="m_1">
								<%= `Welcome to ${user.role}'s Dashboard` %>
							</span>
					</h1>
				</div>
			</div>

			<div id="overviews" class="section wb">
				<div class="container">

					<div class="row">
						<div class="col-lg-12 blog-post-single">
							<div class="blog-author">
								<div class="author-bio">
									<h3 class="author_name">Courses Enrolled by</h3>
									<h5><a href="#">
											<%= user.name %>
										</a></h5>
								</div>
								<div class="author-desc">
									<img src="/images/author.jpg" alt="about author">
								</div>
							</div>

						</div><!-- end col -->
					</div><!-- end row -->
					<br>

					<% if (flashMessages) { %>

						<% if (flashMessages.success) { %>
							<div class="alert alert-success">
								<%= flashMessages.success %>
							</div>

						<% } else if(flashMessages.error) { %>
							<div class="alert alert-danger">
								<%= flashMessages.error %>
							</div>
							<% } %>

					<% } %>

					<div class="row mt-5">
						<% for (let i=0; i < studentCourses.length; i++) { %>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="course-item mb-5">
									<a href="/courses/<%= studentCourses[i].slug %>" title="">
										<div class="image-blog">
											<img src="/images/blog_1.jpg" alt="" class="img-fluid">
										</div>
										<div class="course-br">
											<div class="course-title">
												<h2>
													<%= studentCourses[i].name %>
												</h2>
											</div>
									</a>
									<div class="course-desc">
										<p>
											<%= studentCourses[i].description.substring(0, 100) + '...' %>
										</p>
									</div>
									<div class="post-date">
										<form method="POST" action="/courses/release">
											<input type="hidden" name="course_id" value="<%= studentCourses[i]._id %>">
											<button
												class="btn btn-danger btn-lg text-white"><span>Release</span>
											</button>
										</form>
									</div>
								</div>
							</div>
					</div><!-- end col -->
					<% } %>
				</div><!-- end row -->
			</div><!-- end container -->
			</div><!-- end section -->

		<% } %>

		<% if (isUserSignedIn && user.role==='teacher' ) { %>

			<div class="all-title-box">
				<div class="container text-center">
					<h1>
						<%= user.name %><span class="m_1">
								<%= `Welcome to ${user.role}'s Dashboard` %>
							</span>
					</h1>
				</div>
			</div>

			<!-- main container -->
			<div id="overviews" class="section wb">
				<!-- Modal Button -->
				<div class="col-lg-12 text-center ">
					<button class="btn btn-lg btn-warning rounded-0 text-white" href="#" data-toggle="modal"
						data-target="#addCourse"><span>CREATE NEW COURSE</span></button>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 blog-post-single">
							<div class="blog-author">
								<div class="author-bio">
									<h3 class="author_name"><a href="#">
											<%= user.name %>
										</a></h3>
									<h5>INSTRUCTOR at <a href="#">SmartEDU</a></h5>
								</div>
								<div class="author-desc">
									<img src="/images/author.jpg" alt="about author">
								</div>
							</div>

						</div><!-- end col -->
					</div><!-- end row -->
					<br>
					
				<% if (flashMessages) { %>

					<% if (flashMessages.success) { %>
						<div class="alert alert-success">
							<%= flashMessages.success %>
						</div>

					<% } else if(flashMessages.error) { %>
						<div class="alert alert-danger">
							<%= flashMessages.error %>
						</div>
						<% } %>

				<% } %>

				<div class="row mt-5">
					<% for (let i=0; i < teacherCourses.length; i++) { %>

						<div class="col-lg-6 col-md-6 col-12">
							<div class="course-item mb-5">
								<a href="/courses/<%= teacherCourses[i].slug %>" title="">
									<div class="image-blog">
										<img src="/images/blog_1.jpg" alt="" class="img-fluid">
									</div>
								
								<div class="course-br">
									<div class="course-title">
										<h2>
											<%= teacherCourses[i].name %>
										</h2>
									</div>
								</a>
								<div class="course-desc">
									<p>
										<%= teacherCourses[i].description.substring(0, 70) + '...' %>
									</p>
								</div>
								<div class="post-date">
									<a href="/courses/<%= teacherCourses[i].slug%>?_method=DELETE" class="btn btn-danger text-white"><span>DELETE</span></a>
									<a data-toggle="modal" data-target="#updateModal<%= teacherCourses[i]._id %>" class="btn btn-warning text-white"><span>UPDATE</span></a>
								</div>
							</div>
						</div>
				</div><!-- end col -->

				<!-- UPDATE Course Modal -->
				<div class="modal fade" id="updateModal<%= teacherCourses[i]._id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-body customer-box">
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active" id="Login">
										<form method="POST" action="/courses/<%= teacherCourses[i].slug%>?_method=PUT" class="form-horizontal">

											<div class="form-group">
												<div class="col-sm-12">
													<input type="text" name="name" class="form-control"
														placeholder="Course Name" value="<%= teacherCourses[i].name %>">
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-12">
													<input type="hidden" name="role" class="form-control"
														value="<%= user.role %>">
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-12">
													<textarea rows="8" name="description" class="form-control"
														placeholder="Course Description" required><%= teacherCourses[i].description %></textarea>
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-12">
													<select class="form-control" name="category">
														<% for (let i=0 ; i < categories.length; i++) { %>
															<option value="<%= categories[i]._id %>">
																<%= categories[i].name %>
															</option>
															<% } %>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-10">
													<button type="submit"
														class="btn btn-light btn-radius btn-brd grd1">Submit</button>
													<button type="submit"
														class="btn btn-light btn-radius btn-brd grd1"
														data-dismiss="modal" aria-hidden="true">Cancel</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					<% } %>
			</div><!-- end row -->
			</div><!-- end container -->
			</div><!-- end section -->

			<!-- ADD Course Modal -->
			<div class="modal fade" id="addCourse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-body customer-box">
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="Login">
									<form method="POST" action="/courses" class="form-horizontal">

										<div class="form-group">
											<div class="col-sm-12">
												<input type="text" name="name" class="form-control"
													placeholder="Course Name">
											</div>
										</div>

										<div class="form-group">
											<div class="col-sm-12">
												<input type="hidden" name="role" class="form-control"
													value="<%= user.role %>">
											</div>
										</div>

										<div class="form-group">
											<div class="col-sm-12">
												<textarea rows="8" name="description" class="form-control"
													placeholder="Course Description" required></textarea>
											</div>
										</div>

										<div class="form-group">
											<div class="col-sm-12">
												<select class="form-control" name="category">
													<% for (let i=0 ; i < categories.length; i++) { %>
														<option value="<%= categories[i]._id %>">
															<%= categories[i].name %>
														</option>
														<% } %>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-10">
												<button type="submit"
													class="btn btn-light btn-radius btn-brd grd1">Submit</button>
												<button type="submit"
													class="btn btn-light btn-radius btn-brd grd1"
													data-dismiss="modal" aria-hidden="true">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		<% } %>

		<% if (isUserSignedIn && user.role==='admin' ) { %>

			<div class="all-title-box">
				<div class="container text-center">
					<h1>
						<%= user.name %><span class="m_1">
								<%= `Welcome to ${user.role}'s Dashboard` %>
							</span>
					</h1>
				</div>
			</div>

			<div id="overviews" class="section wb">
				<div class="container">

					<div class="row">
						<div class="col-lg-12 blog-post-single">
							<div class="blog-author">
								<div class="author-bio">
									<h3 class="author_name">Dashboard</h3>
									<h5><a href="#">
											<%= user.name %>
										</a></h5>
								</div>
								<div class="author-desc">
									<img src="/images/author.jpg" alt="about author">
								</div>
							</div>

						</div><!-- end col -->
					</div><!-- end row -->
					<br>

					<% if (flashMessages) { %>

						<% if (flashMessages.success) { %>
							<div class="alert alert-success">
								<%= flashMessages.success %>
							</div>

						<% } else if(flashMessages.error) { %>
							<div class="alert alert-danger">
								<%= flashMessages.error %>
							</div>
							<% } %>

					<% } %>
					
					<!--  Users section -->
					<div class="row mt-5">
						<h3>Users</h3>
						<table class="table table-striped">
							<thead>
							  <tr>
								<th scope="col">ID</th>
								<th scope="col">EMAIL</th>
								<th scope="col">ROLE</th>
								<th scope="col">HANDLE</th>
							  </tr>
							</thead>
							<tbody>
								<% for (let i=0; i < users.length; i++) { %>
									<tr>
										<th scope="row"><%= users[i]._id %></th>
										<td><%= users[i].email %></td>
										<td><%= users[i].role %></td>
										<td>
											<% if(users[i].role !== 'admin') { %>
												<a href="/users/<%= users[i]._id%>?_method=DELETE"><i class="fa fa-trash-o" style="font-size:24px"></i></a>
												<a data-toggle="modal" data-target="#updateModal<%= users[i]._id %>"><i class="fa fa-edit" style="font-size:24px"></i></a>
											<% } %>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
					
					<!-- Categories Section -->
					<div class="row mt-5">
						<h3>Catgories</h3>
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Name</th>
									<th scope="col">Handle</th>
									<% if (categories.length === 0) { %>
										<th>
											<a data-toggle="modal" data-target="#addCategoryModal" style="cursor: pointer;"><i class="fa fa-plus" style="font-size:24px"></i></a>
										</th>
									<% } %>
								</tr>
							</thead>
							<tbody>
								<% for (let i=0; i < categories.length; i++) { %>
							  <tr>
								<th scope="row"><%= categories[i]._id %></th>
								<td><%= categories[i].name %></td>
								<td>
									<a href="/categories/<%= categories[i]._id%>?_method=DELETE"><i class="fa fa-trash-o" style="font-size:24px"></i></a>
									<a data-toggle="modal" data-target="#updatCategoryModal<%= categories[i]._id %>" style="cursor: pointer;"><i class="fa fa-edit" style="font-size:24px"></i></a>
									<a data-toggle="modal" data-target="#addCategoryModal" style="cursor: pointer;"><i class="fa fa-plus" style="font-size:24px"></i></a>
								</td>
							  </tr>

								<!-- UPDATE Category Modal -->
								<div class="modal fade" id="updatCategoryModal<%= categories[i]._id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-body customer-box">
												<!-- Tab panes -->
												<div class="tab-content">
													<div class="tab-pane active" id="Login">
														<form method="POST" action="/categories/<%= categories[i]._id%>?_method=PUT" class="form-horizontal">

															<div class="form-group">
																<div class="col-sm-12">
																	<input type="text" name="name" class="form-control"
																		placeholder="Course Name" value="<%= categories[i].name %>">
																</div>
															</div>
															<div class="row">
																<div class="col-sm-10">
																	<button type="submit"
																		class="btn btn-light btn-radius btn-brd grd1">Submit</button>
																	<button type="submit"
																		class="btn btn-light btn-radius btn-brd grd1"
																		data-dismiss="modal" aria-hidden="true">Cancel</button>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							  <% } %>
							</tbody>
						  </table>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
			</div><!-- end section -->

			<!-- ADD Category Modal -->
			<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-body customer-box">
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="Login">
									<form method="POST" action="/categories" class="form-horizontal">
										<div class="form-group">
											<div class="col-sm-12">
												<input type="text" name="name" class="form-control"
													placeholder="Course Name">
											</div>
										</div>
										<div class="row">
											<div class="col-sm-10">
												<button type="submit"
													class="btn btn-light btn-radius btn-brd grd1">Submit</button>
												<button type="submit"
													class="btn btn-light btn-radius btn-brd grd1"
													data-dismiss="modal" aria-hidden="true">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		<% } %>

<%- include('partials/_footer.ejs') %>